.btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 3px;
    padding: 1.5rem 2rem;
    font-family: $serif;
    font-size: 1.8rem;
    text-transform: lowercase;
    cursor: pointer;

    &-primary {
        background: $purple-gradient;
        color: $light;
    }
    &-secondary {
        background: $light;
        color: $purple;
    }
    &-outline {
        background: transparent;
        border: 2px solid $purple;
        color: $purple;
    }
}

.btn-group {
    button:not(:last-child) {
        margin-right: $margin-sm;
    }
}
